@page "/Api/Foto/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<html>

    <head>
        <title>Foto</title>
    </head>

    <body>

        <header>
            <h1>Crear Foto </h1>
        </header>

        <main>

        </main>

        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>

    </body>

</html>

@code {

}
