@page "/Api/NombreServicio/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<html>

    <head>
        <title>Nombre servicio </title>
    </head>

    <body>

        <header>
            <h1>Nombre Servicio </h1>
        </header>

        <main>

            <EditForm Model="nombreservicio" OnValidSubmit="Grabar">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="TextoComentario">Nombre del servicio</label>
                    <div>
                        <InputText class="form-control" @bind-Value="nombreservicio.NombreDeServicio" />
                        <ValidationMessage For="@(() => nombreservicio.NombreDeServicio)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Precio</label>
                    <div>
                        <InputText class="form-control" @bind-Value="nombreservicio.NombreDeServicio" />
                        <ValidationMessage For="@(() => nombreservicio.Precio)" />
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Publicar</button>
                <button class="btn btn-secondary" @onclick="Cancelar">Ver lista</button>

            </EditForm>

        </main>

        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>

    </body>

</html>

@code {
    private NombreServicio nombreservicio = new NombreServicio();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<NombreServicio>("api/NombreServicio", nombreservicio);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.httpResponseMessage;

            navigationManager.NavigateTo("/Api/ListaNombreServicio");
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Api/ListaNombreServicio");
    }
}
