@page "/Api/Transaccion/Crear"
@* @inject IHTTPServicio http; *@
@inject NavigationManager navigationManager;

<html>

    <head>
        <title>Transaccion</title>
    </head>

    <body>

        <header>
            <h1>Nueva transaccion</h1>
        </header>

        <main>

        </main>

        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>

    </body>

</html>

@code {

}
