<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PatitasFelices.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>   
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Usuario/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Crear usuario
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/ListaUsuarios" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista usuario
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Transaccion/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Transacciones
            </NavLink>
        </div>   
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/ListaTransaccion" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Lista Transacción
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Tarjeta/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Tarjeta
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Servicio/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Servicio
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Reserva/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Reserva
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/ListaReservas" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista Reserva
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/PrecioServicio/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Precio Servicio
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/ListaPrecioServicio" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista Precio Servicio
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Precio/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Precio 
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/ListaPrecio" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista Precio 
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/NombreServicio/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Servicio 
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Mensaje/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Mensaje 
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Mascota/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Mascota
            </NavLink>
        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/ListaMascotas" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Lista de mascotas
            </NavLink>
        </div> 
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/FotoUsuario/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Foto usuario
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/FotoMascota/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Foto Mascota
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Foto/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Foto
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Api/Comentario/Crear" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Comentario
            </NavLink>
        </div> 
        


       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div> *@
        
       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>  *@
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7053/swagger" target="_blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>
    
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
