@page "/Api/Servicio/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<html>

    <head>
        <title>Tarjeta</title>
    </head>

    <body>

        <header>
            <h1>Crear servicio</h1>
        </header>

        <main>

            <EditForm Model="servicio" OnInvalidSubmit="Grabar">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="TextoComentario">Nombre del servicio</label>
                    <div>
                        <InputText class="form-control" @bind-Value="servicio.NombreServicio" />
                        <ValidationMessage For="@(() => servicio.NombreServicio)" />
                    </div>
                </div>

               



                <button class="btn btn-primary" type="submit">Crear servicio</button>
                <button class="btn btn-secondary" @onclick="Cancelar">Ver lista</button>

            </EditForm>

        </main>

        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>

    </body>

</html>

@code {
    private Servicio servicio = new Servicio();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Servicio>("api/Servicio", servicio);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.httpResponseMessage;

            navigationManager.NavigateTo("/Api/ListaServicio");
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Api/ListaServicio");
    }
}
