@page "/Api/Tarjeta/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<html>

    <head>
        <title>Tarjeta</title>
    </head>

    <body>

        <header>
            <h1>Nueva Tarjeta</h1>
        </header>

        <main>

            <EditForm Model="tarjeta" OnInvalidSubmit="Grabar">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="TextoComentario">Nro de tarjeta</label>
                    <div>
                        <InputText class="form-control" @bind-Value="tarjeta.NroTarjeta" />
                        <ValidationMessage For="@(() => tarjeta.NroTarjeta)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Fecha de vencimiento</label>
                    <div>
                        <InputDate class="form-control" @bind-Value="tarjeta.FechaVencimiento" />
                        <ValidationMessage For="@(() => tarjeta.FechaVencimiento)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Código de seguridad</label>
                    <div>
                        <InputText class="form-control" @bind-Value="tarjeta. CodigoSeguridad" />
                        <ValidationMessage For="@(() => tarjeta.CodigoSeguridad)" />
                    </div>
                </div>


                <button class="btn btn-primary" type="submit">Nueva tarjeta</button>
                <button class="btn btn-secondary" @onclick="Cancelar">Ver lista</button>

            </EditForm>

        </main>

        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>

    </body>

</html>

@code {
    private Tarjeta tarjeta = new Tarjeta();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Tarjeta>("api/Tarjeta", tarjeta);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.httpResponseMessage;

            navigationManager.NavigateTo("/Api/ListaTarjeta");
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Api/ListaTarjeta");
    }
}
