@page "/Api/ListaPrecio"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<!DOCTYPE html>
<html>

    <head>  
        <title>Lista de precios</title>
    </head>

    <body>

        <header>

            <h1 class="text-center">Lista de precios de los servicios</h1>

            <a class="btn btn-primary" href="/Api/Precio/Crear">Nuevo precio</a>
            <a class="btn btn-secondary" href="#">Cancelar</a>

            <table>

                <tr>
                    <th>Precio por hora</th>
                    <th>Precio por dia</th>
                </tr>

                @if (listaprecio == null)
                {
                    <p>Buscando...</p>
                }
                else
                {
                    @foreach (var item in listaprecio)
                    {
                        <tr>
                            <td>@item.PrecioHora</td>
                            <td>@item.PrecioDia</td>
                        </tr>
                    }
                }

            </table>

        </header>
        
        <main>

        </main>

        <footer>

            <p>® Todos los derechos reservados ®</p>
        </footer>
    
    </body>

</html>

@code {
    List<Precio> listaprecio;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Precio>>("api/Precio");

        listaprecio = respuesta.Respuesta;
    }
}
