@page "/Api/Mensaje/Crear"
@* @inject IHTTPServicio http; *@
@inject NavigationManager navigationManager;

<html>

<head>
    <title>Mensaje </title>
</head>

<body>

    <header>
        <h1>Mensaje </h1>
    </header>

    <main>

    </main>

    <footer>
        <p>® Todos los derechos reservados ®</p>
    </footer>

</body>

</html>

@code {

}
